body { background: #e24f5f; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 50px; display: flex; }
.block-logger-0 { color: #1bcef; font-size: 15px; margin-bottom: 5px; }
.block-database-1 { color: #4a85ee; font-size: 18px; margin-bottom: 5px; }
.block-sms-2 { color: #f5e6de; font-size: 13px; margin-bottom: 5px; }
.block-order-3 { color: #b02fc2; font-size: 20px; margin-bottom: 5px; }
.block-session-4 { color: #beba21; font-size: 18px; margin-bottom: 5px; }
.block-database-5 { color: #e7917; font-size: 20px; margin-bottom: 5px; }
.block-router-6 { color: #7de4ef; font-size: 19px; margin-bottom: 5px; }
.block-config-7 { color: #e877e1; font-size: 16px; margin-bottom: 5px; }
.block-user-8 { color: #d3dafa; font-size: 16px; margin-bottom: 5px; }
.block-helper-9 { color: #f64a57; font-size: 20px; margin-bottom: 5px; }
.block-email-10 { color: #cb881d; font-size: 13px; margin-bottom: 5px; }
.block-email-11 { color: #ef7443; font-size: 12px; margin-bottom: 5px; }